body{
    background-color: aliceblue;

}
#parent{
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-bottom: 200px;
}
@media screen and (max-width:500px) {
    #parent{
        width: 95%;
       display: block;
       margin: 0 auto;
       margin-bottom: 100px;
   }
}
header{
    background-color: black;

}
nav{
    background-color: black;
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-items: center;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
#navitem{
    margin-right: 10px;
}
@media screen and (max-width:500px) {
    nav a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
}
span a{
    text-decoration: none;
}
#underfixed{
    margin-top: 100px;
}
nav a:hover{
    color: rgb(128, 128, 128);
}
li a:hover{
    color: rgb(55, 116, 25);
    text-decoration: underline;
}
a:focus{    
    color: rgb(38, 38, 38);
}
h1{
    font-size: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ,math ;
}
h2{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,math ;
    margin-bottom: 30px;
    margin-top: 30px;
}
li{
    font-size: 18px;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, math;
}
p{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ,math;
}
h3{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,math ;
    margin-bottom: 30px;
    margin-top: 30px;
}
.unique{
    color: gold;
    text-decoration: none;
}
.unique:hover{
    text-decoration: underline;
    color: rgb(55, 116, 25);
}
#gotop{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,math;
}
#gotop:hover{
    color: rgb(55, 116, 25);
}
#gotop:focus{
    color: rgb(38, 38, 38);
}

@media  screen and (max-width:500px) {
    nav{
        height: 50px;
    }
    h1{
        font-size: 40px;
    }
}
footer {
    border-top: 2px solid; 
}
.pfooter{
    font-size: 12px;
}